<!DOCTYPE html>
<html>
  <head>
    <title>michael's gaming blog | let's talk game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:3000/">HOME<span class="sr-only">(current)</span></a></li>
                <li><a href="posts">POSTS</a></li>
                <li><a href="contact">CONTACT</a></li>
            </ul>
        </div>
      </nav>


    <!-- <h1><%= title %></h1> -->
    <p>Welcome to My gaming Channel</p>

    <div class="container">

      <div class="row">
        <div class="jumbotron">
          <h1>Blog Site</h1>
          <a href="/posts" class="btn btn-primary">Post Page</a>

        </div>
      </div>

      <div class="row">
        <% if (posts) { %>
          <% posts.forEach(function(post) { %>

            <div class="col-xs-12 col-md-6 col-lg-4">
              <div class="panel-panel-primary">

                <div class="panel-heading">
                  <h3 class="panel-title">HELLO WORLD</h3>
                </div>

                <div>
                  <img src="" alt="">
                </div>

                <div class="panel-body"> Content:
                  <%= post.content %>
                </div>

                <div class="panel-footer">
                  <%= post.author %>
                </div>
              </div>
            </div>



        <% }); %>

        <% } else { %>

          <p>you have no posts</p>

        <% } %>
      </div>
    </div>

    <% posts.forEach(function(post){ %>
      <h3 class="title"><%= post.title %></h3>
      <h3 class="author"><%=post.author %></h3>
      <h3 class="date_time"><%= post.date_time %></h3>
      <h3 class="content"><%= post.content %></h3>
      <br>
    <% }); %>



  </body>
</html>
